.list-group{
    width: 30%;
    margin: 40px;
}

body { background: #eaeaea; font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, sans-serif; padding-bottom: 60px; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; display: block;}
img { border: 0; max-width: 100%; }

p { font-size: 1.2em; line-height: 1.35em; margin-bottom: 15px; color: #434343; }

#w { display: block; width: 800px; } 


#ddmenu {
  display: block;
  width: 35%;
  /*height: 80px;*/
  margin: 30px;
  padding: 0 15px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(20, 20, 20, 0.2);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8aa8bd;
}

#ddmenu li { display: block;  font-size: 1.45em; text-shadow: 1px 1px 0 #fff; border-right: 1px solid #dae0e5; }

#ddmenu li a {
  display: block;
  /*float: left;*/
  padding: 0 12px;
      margin: 5px;
  line-height: 78px;
  font-weight: bold;
  text-decoration: none;
  color: #6c87c0;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu li:hover > a { color: #7180a0; background: #d9e2ee; }

#ddmenu table,  #ddmenu ul{
  position: absolute;
  top: 30px;
  left: 320px;
  width: 1000px;
  min-height: 300px;
  background: #fff;
  display: none;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#ddmenu table tr{
  margin: 5px;
  height: 40px;
}
#ddmenu table tr td, #ddmenu table tr th{
  margin: 5px;
      padding: 10px;
    text-align: center;
}



#ddmenu ul li a {
  display: block;
  width: 100%;
  padding: 6px 7px;
  line-height: 1.4em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul li a:hover {
  background: #e9edf3;
}
tbody{
      width: 100%;
    display: inline-table;
}
caption{
  display: block;
  float: none;
  text-align: center;
}
table{
  margin: 20px;
  font-size: 16px;
  border: 3px solid black;
    /*width: 90%;*/
}
table th{
  text-align: center;
}
TD, TH {
  padding: 5px; /* Поля вокруг содержимого таблицы */
  border: 1px solid black; /* Параметры рамки */
}

.modal-district{
margin: 20px;
padding: 5px;
  font-size: 16px;
}
textarea{
  width: 90%;
  margin-bottom: 12px;
  font-size: 17px;
  color: rgb(34, 34, 34);
  background: rgb(255, 255, 255);
  text-indent: 20px;
  border: 1px solid rgb(204, 204, 204);
  text-shadow: none;
  margin-left: 20px;
  border-radius: 4px;
  margin-top: 0px;
  min-height: 100px;
  max-height: 300px;
}